.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -27px;
}

input[type=radio], input[type=checkbox] {
    margin: -2px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}